.options {
    position:absolute;
    top: 5px;
    left: 1020px;
    width: 250px;
    height:550px;
    background:#50A6C2;
    text-align: center;
    font-family: "Courier New", Times, serif;
}

.title {
    margin-top: 5px;
}

.values{
    position:absolute;
    top: 5px;
    left: 1020px;
    width: 250px;
    height:550px;
}